html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.spinnerFirst {
  transform: rotate(0deg);
  animation: spin 1s linear;
}

.spinner {
  transform: rotate(180deg);
  animation: spin 1s linear;
}

.columnInner {
  flex-direction: row;
}

@media only screen and (max-width: 850px) {
  .columnNavbar {
    display: flex;
    flex-direction: column;
  }
  .columnInner {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .columnNavbar {
    display: flex;
    flex-direction: column;
  }
  .columnInner {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  .columnNavbar {
    display: flex;
    flex-direction: column;
  }
  .columnInner {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 320px) {
  .columnNavbar {
    display: flex;
    flex-direction: column;
  }
  .columnInner {
    display: flex;
    flex-direction: column;
  }
}

.mainButton {
  display: inline-block;
  padding: 8px;
}

.dropButton {
  display: none;
  position: absolute;
  min-width: 50px;
}

.mainButton:hover .dropButton {
  position: absolute;
  transition-duration: 300ms;
  display: inline-block;
}

.gridTimeLine {
  display: grid;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-auto-flow: column;
  gird-gap: gap-6;
}

.gridSpanParagraph {
  grid-column: span 2 / span 2;
}
