/* .CLASS */

.dropdown {
  display: inline-block;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  position: absolute;
  display: block;
  border-radius: 15px;
}

.buttonM {
  cursor: pointer;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 10px;
  display: block;
  text-align: center;
  background-color: 'white';
  transition: 0.2s;
}

.buttonM:hover {
  background-position: right center;
  text-shadow: -1px 0 black, 0 0px black, 1px 0 black, 0 -1px black;
  outline: 5px solid tomato;
}

.button {
  cursor: pointer;
  margin: 10px;
  padding: 5px 25px;
  text-align: center;
  transition: 0.2s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
}
.button:hover {
  outline: thick double white;
  background-color: 'white';
  background-position: right center;
  text-shadow: -1px 0 black, 0 0px black, 1px 0 black, 0 -1px black;
}

/* #ID */

#navbar {
  text-align: center;
  position: fixed;
  display: block;
  min-width: 290px;
  width: 100%;
  top: 0;
  border: solid;
  border-bottom: 3px solid black;
  border-color: black;
}

.gridCol {
  font-size: 1.5em;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

.arrowScroll {
  transition: all 0.2s ease-out;
  height: '100px';
  width: '100px';
  cursor: 'pointer';
  padding: '5px';
  position: 'fixed';
  right: '100px';
  bottom: '100px';
}
